.itemListButton {
    display: flex;
    flex: row;
    width: 100%;
    background: transparent;
    align-items: center;
    padding: 1.1rem;
    border-radius: 8px;
    border: 1px dashed var(--light-gray);
    gap: 0.8rem;
    margin-bottom: 0.8rem;

    &:hover {
        background: var(--hover);
        border: 1px solid var(--hover);
        cursor: pointer;
    }

    @media (min-width: 576px) {
        margin-bottom: 1rem;
    }
}

.checkboxUnselected {
    width: 1.8rem;
    height: 1.8rem;
}

.checkboxChecked {
    width: 1.8rem;
    height: 1.8rem;
}

.taskDescription {
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 500;
    text-align: left;
}

.taskDescriptionCompleted {
    font-size: 1.2rem;
    color: var(--gray);
    font-weight: 400;
    text-align: left;
    text-decoration: line-through;
}

.trashButton {
    background: transparent;
    border: none;
    margin-left: auto;
}

.trashImg {
    width: 1.8rem;
    height: 1.8rem;
}