.buttonContainer {
    margin: 1.5rem 0;
    width: 100%;

    @media (min-width: 576px){
        margin: 2rem 0;
    }
}

.cancelButton {
    width: 100%;
    height: 3.2rem;
    border: transparent;
    border-radius: 8px;
    background: #E7EEFB;
}

.textButton {
    font-size: 1.1rem;
    color: var(--black);
    font-weight: 500;
}